In [9]:
import pandas as pd
import numpy as np
from sklearn import preprocessing


data = pd.read_csv('pakwheels_cardataset.csv')
data.head()

,name,model_name,city,year,driving,feul,engine,kms,price
0,Kia Sportage,KIA AWD,Sialkot,2020,Automatic,Petrol,2000,4300,55.15
1,Kia Sportage,KIA FWD,Islamabad,2020,Automatic,Petrol,2000,11384,52.95
2,Kia Sportage,KIA AWD,Islamabad,2021,Automatic,Petrol,2000,3000,57.40
3,Kia Sportage,KIA AWD,Islamabad,2021,Automatic,Petrol,2000,25,57.50
4,Kia Sportage,KIA FWD,Islamabad,2021,Automatic,Petrol,2000,50,52.80

### One hot encoding

In [2]:
categorical_variables = ['name','model_name','city','driving','feul']

In [3]:
labelEncoder = preprocessing.LabelEncoder()

In [10]:
mapping_dict ={}
for col in categorical_variables:
    data[col] = labelEncoder.fit_transform(data[col])
  
    le_name_mapping = dict(zip(labelEncoder.classes_,
                        labelEncoder.transform(labelEncoder.classes_)))
  
    mapping_dict[col]= le_name_mapping
print(mapping_dict)

{'name': {'Kia Sportage': 0, 'honda civic': 1, 'suzuki alto': 2, 'suzuki bolan': 3, 'suzuki cultus': 4, 'suzuki mehran': 5, 'suzuki swift': 6, 'toyota corola': 7}, 'model_name': {'Honda ': 0, 'Honda 1.5': 1, 'Honda 1.8': 2, 'Honda 2005': 3, 'Honda EL': 4, 'Honda EX': 5, 'Honda EXi': 6, 'Honda GL': 7, 'Honda LXi': 8, 'Honda Oriel': 9, 'Honda SXi': 10, 'Honda Si': 11, 'Honda Turbo': 12, 'Honda Type': 13, 'Honda VTi': 14, 'KIA ': 15, 'KIA 2.0': 16, 'KIA AWD': 17, 'KIA Alpha': 18, 'KIA FWD': 19, 'Suzuki ': 20, 'Suzuki Auto': 21, 'Suzuki DLX': 22, 'Suzuki DX': 23, 'Suzuki E': 24, 'Suzuki ECO-L': 25, 'Suzuki ECO-S': 26, 'Suzuki EII': 27, 'Suzuki EURO': 28, 'Suzuki Euro': 29, 'Suzuki F': 30, 'Suzuki G': 31, 'Suzuki G4': 32, 'Suzuki GII': 33, 'Suzuki GL': 34, 'Suzuki L': 35, 'Suzuki Limited': 36, 'Suzuki Memorial': 37, 'Suzuki RS': 38, 'Suzuki S': 39, 'Suzuki Sport': 40, 'Suzuki TURBO': 41, 'Suzuki VP': 42, 'Suzuki VS': 43, 'Suzuki VX': 44, 'Suzuki VXL': 45, 'Suzuki VXLi': 46, 'Suzuki VXR': 47, 'Suzuki VXRi': 48, 'Suzuki X': 49, 'Suzuki XG': 50, 'Suzuki XL': 51, 'Suzuki XS': 52, 'Toyota ': 53, 'Toyota 2.0D': 54, 'Toyota Altis': 55, 'Toyota DX': 56, 'Toyota G': 57, 'Toyota GL': 58, 'Toyota GLi': 59, 'Toyota LX': 60, 'Toyota Luxel': 61, 'Toyota SE': 62, 'Toyota TX': 63, 'Toyota X': 64, 'Toyota XE': 65, 'Toyota XE-G': 66, 'Toyota XL': 67, 'Toyota XLi': 68}, 'city': {'Abottabad': 0, 'Attock': 1, 'Bahawalpur': 2, 'Chakwal': 3, 'Faisalabad': 4, 'Gujranwala': 5, 'Gujrat': 6, 'Hyderabad': 7, 'Islamabad': 8, 'Karachi': 9, 'Lahore': 10, 'Lahore ': 11, 'Mandi bahauddin': 12, 'Mansahra': 13, 'Mardan': 14, 'Multan': 15, 'Peshawar': 16, 'Quetta': 17, 'Rahim Yar Khan': 18, 'Rawalpindi': 19, 'Sargodha': 20, 'Sialkot': 21, 'Wah cantt': 22, 'other': 23}, 'driving': {'Automatic': 0, 'Manual': 1}, 'feul': {'CNG': 0, 'Diesel': 1, 'Hybrid': 2, 'LPG': 3, 'Petrol': 4}}

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [11]:
data

       name  model_name  city  year  driving  feul  engine     kms  price
0         0          17    21  2020        0     4    2000    4300  55.15
1         0          19     8  2020        0     4    2000   11384  52.95
2         0          17     8  2021        0     4    2000    3000  57.40
3         0          17     8  2021        0     4    2000      25  57.50
4         0          19     8  2021        0     4    2000      50  52.80
...     ...         ...   ...   ...      ...   ...     ...     ...    ...
35673     7          62    16  2001        1     4    1300  100000   8.60
35674     7          68    23  2010        1     4    1300  185000  15.20
35675     7          59    20  2017        1     4    1300   57000  27.30
35676     7          55    18  2019        0     4    1800   33000  40.50
35677     7          59     0  2012        1     4    1300  103000  19.50

[35678 rows x 9 columns]

In [7]:
X = data.drop(columns = 'price')
y = data['price']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
           X, y, test_size = 0.2)

In [9]:
lr = LinearRegression()

In [10]:
lr.fit(X_train,y_train)

LinearRegression()

In [27]:
y_pred = lr.predict(X_test)

In [19]:
y_test

5184      8.50
11961    42.50
13660     9.50
3259      6.50
32096     7.35
         ...
17301     6.20
32299    26.00
29002    33.00
29189    14.50
24273     8.25
Name: price, Length: 7136, dtype: float64

### Linear regression score is 79

In [28]:
print(y_pred)

[ 8.00806214 26.33311527  9.96071233 ... 30.97751391 10.35464192
 30.10294372]

In [29]:
lr.score(X_test,y_test)

0.7956714987892082

In [30]:
from sklearn.ensemble import RandomForestRegressor
  
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)
  
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

### Random Forest regressor score is 95

In [31]:
regressor.score(X_test,y_test)

0.9550042691252861

In [32]:
yy = regressor.predict(X_test)

In [25]:
score = []
for i in range(1000):
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=i)
    lr = LinearRegression()
    lr.fit(X_train,y_train)
    y_pred = lr.predict(X_test)
    score.append(r2_score(y_test,y_pred))

In [50]:
np.argmax(score)

660

In [51]:
score[np.argmax(score)]

0.8144421855268296

In [54]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=np.argmax(score))
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
r2_score(y_test,y_pred)

0.8125981539478349

In [74]:
import pickle

### As we are going to use random forest regressor

In [76]:
pickle.dump(regressor,open('r.pkl','wb'))

In [67]:
import joblib

In [77]:
joblib.dump(regressor,'r.pkl',compress=True)

['r.pkl']